<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head(主页)"></head>

<body>
<div th:include="fragment :: header"></div>

<form id="findForm" class="layui-form">
	<div class="layui-form-item">
		<div>
			<input type="text">
			<button>查找单词</button>
		</div>
	</div>
</form>
<div class="layui-card">
	<div class="layui-card-header">这是单词本名称</div>
	<div class="layui-card-body">
		小吴这里的布局看你的了<br/>
		需要包含：该单词本的单词数量、单词本描述、创建时间（你还能想到什么信息，反正我是想不到了）
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">生活单词</div>
	<div class="layui-card-body">
		卡片式面板面板通常用于非白色背景色的主体内<br>
		从而映衬出边框投影
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">计算机单词</div>
	<div class="layui-card-body">
		卡片式面板面板通常用于非白色背景色的主体内<br>
		从而映衬出边框投影
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">常用单词</div>
	<div class="layui-card-body">
		卡片式面板面板通常用于非白色背景色的主体内<br>
		从而映衬出边框投影
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">词组</div>
	<div class="layui-card-body">
		卡片式面板面板通常用于非白色背景色的主体内<br>
		从而映衬出边框投影
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">商务单词</div>
	<div class="layui-card-body">
		卡片式面板面板通常用于非白色背景色的主体内<br>
		从而映衬出边框投影
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">Java单词</div>
	<div class="layui-card-body">
		卡片式面板面板通常用于非白色背景色的主体内<br>
		从而映衬出边框投影
	</div>
</div>
</body>
</html>