<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head(背单词软件)"></head>

<body>
<div class="lowin">
	<div class="lowin-brand scale-img">
		<img th:src="@{/img/logo.png}" alt="logo" class="icon-img">
	</div>
	<div class="lowin-wrapper">
		<div class="lowin-box lowin-login scale-div">
			<div class="lowin-box-inner">
				<form id="loginForm" class="layui-anim-scale">
					<p class="title-name">用户登录</p>
					<div class="lowin-group">
						<label>用户名或邮箱:</label>
						<input type="text" name="usernameOrEmail" class="lowin-input" placeholder="请输入用户名或邮箱">
					</div>
					<div class="lowin-group password-group">
						<label>密码:
							<!--<a href="#" class="forgot-link">忘记密码？</a>-->
						</label>
						<input type="password" name="password" class="lowin-input" placeholder="请输入密码">
					</div>
					<button class="lowin-btn login-btn" type="submit">
						登录
					</button>

					<div class="text-foot">
						<a th:href="@{/register}" class="register-link">注册账号</a>
					</div>
				</form>
			</div>
		</div>
		<footer class="lowin-footer"></footer>
	</div>
</div>

<!--url链接-->
<script>
    const URL_LOGIN = '[[@{/login}]]';
    const URL_INDEX = '[[@{/wordBook}]]';
</script>

<script th:src="@{/js/login.js}" charset="utf-8" type="text/javascript"></script>
</body>
</html>