<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>背单词软件</title>
	<link rel="stylesheet" th:href="@{/css/auth.css}">
	<link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}"/>
	<script th:src="@{/lib/jquery/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.validate.min.js}"></script>
	<script th:src="@{/lib/layui/layui.all.js}"></script>
	<style>
		.lowin-group #send {
			background-color: #44A0B3;
			color: #ffffff;
			width: 130px;
			height: 45px;
			border-width: 0;
			border-radius: 3px;
			box-shadow: 0 2px 7px;
			margin:0px;
		}

</style>
</head>

<body>

<div class="lowin">
	<div class="lowin-brand">
		<img th:src="@{img/icon.jpg}" alt="logo" class="icon-img">
	</div>
	<div class="lowin-wrapper">
		<div class="lowin-box lowin-register">
			<div class="lowin-box-inner">
				<form id="registerForm">
					<p class="title-name">用户注册</p>
					<div class="lowin-group">
						<label>用户名:</label>
						<input type="text" name="username" class="lowin-input" placeholder="请输入账号" id="username">
						<div id="hint-one" style="color: red"></div>
					</div>
					<div class="lowin-group">
						<label>密码:</label>
						<input type="password" name="password" class="lowin-input" placeholder="请输入密码" id="confirm-password">
						<div id="hint-two"></div>
					</div>
					<div class="lowin-group">
						<label>确认密码:</label>
						<input type="password" name="confirmPassword" class="lowin-input" placeholder="请再一次确认密码" id="Reconfirm-password" onchange="RecheckPassword()">
						<div id="hint-three"></div>
					</div>
					<div class="lowin-group">
						<label>邮箱:</label>
						<input type="email" name="email" class="lowin-input" placeholder="请输入邮箱地址" id="Email-address" onchange="Emailaddress()">
						<div id="hint-four"></div>
					</div>
					<div class="lowin-group">
						<button id="send" type="button">发送验证码</button>
						<input type="text" name="code" class="lowin-input" id="send-input">
						<div id="hint-five"></div>
					</div>
					<button class="lowin-btn register-btn" type="submit" id="submit">
						注册
					</button>
					<div class="text-foot">
						<a th:href="@{/login}" class="login-link">返回登录</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer class="lowin-footer"></footer>
</div>

<script>
    const URL_LOGIN = '[[@{/login}]]';
    const URL_REGISTER ='[[@{/register}]]';
</script>
<script>
    //    注册
    //输入密码
	var username = document.getElementById("username");
    var confirmpassword = document.getElementById("confirm-password"); //第一次输入密码
    var Reconfirmpassword = document.getElementById("Reconfirm-password"); //第二次输入密码
    var Emailcode = document.getElementById("send-input");
    var EmailcodeValue = Emailcode.value;
    confirmpassword.onchange = function() {
        var sPassword =  confirmpassword.value;
        var word = /^[a-zA-Z]\w{5,17}$/;//定义密码正则表达式
        if (sPassword === ""){
            document.getElementById('hint-two').innerText="密码输入不得为空";
            document.getElementById('hint-two').style.color='red';
        }else{
            if (!(word.test(sPassword))) {
                document.getElementById('hint-two').innerText="密码以字母开头，长度在6~18位之间，只能包含字母、数字和下划线";
                document.getElementById('hint-two').style.color='red';
                confirmpassword.value= "";
                return false;
            }
        }
    }
    //   再次确认密码
    function RecheckPassword(){
        if(Reconfirmpassword.value === ""){
            document.getElementById('hint-three').innerText="确认密码输入不得为空";
            document.getElementById('hint-three').style.color='red';
        }else{
            if (confirmpassword.value !==  Reconfirmpassword.value){
                document.getElementById('hint-three').innerText="两次密码输入不一致，请重新输入";
                document.getElementById('hint-three').style.color='red';
                Reconfirmpassword.value= "";
                return false;
            }
        }
    }
    var Email = document.getElementById("Email-address");
    function Emailaddress(){
        var EmailValue = Email.value;
        var reg = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
        if (Email.value=== ""){
            document.getElementById('hint-four').innerText="邮箱输入不得为空，请重新输入";
            document.getElementById('hint-four').style.color='red';
        }else{
            if (!(reg.test(EmailValue))) {
                document.getElementById('hint-four').innerText="邮箱格式不正确";
                document.getElementById('hint-four').style.color='red';
                Email.value= "";
                return false;
            }
        }
    }
    // 发送验证码事件
    var send = document.querySelector('#send');
    send.onclick = function() {
        if (confirmpassword.value === "" || Reconfirmpassword.value === "" ||  Email.value === ""){
            layer.msg("信息填写不正确，请检查后重新填写", {
                time: 1500
			});
        }else {
            var EmailValue =Email.value;  //验证码
            $.ajax({
                type: "GET",
                url: "[[@{/sendMail}]]",
                dataType: "json",
                data: {
                    to: EmailValue
                },
                success: function (data) {
                    if (data.code === 200) {
                        layer.msg(data.msg, {
                            time: 1500,
							icon:1
						});
					} else {
                        layer.alert(data.msg, {
                            icon: 5
						});
					}
                }
            });
        }

    };
    // register button
    var submit = document.getElementById('submit');
    submit.addEventListener('click',function(e){
        //阻止表单提交
        e.preventDefault();
        if (username.value === ""){
            document.getElementById('hint-one').innerText="用户名输入不得为空";
            document.getElementById('hint-one').style.color='red';
        }
        if (confirmpassword.value === ""){
            document.getElementById('hint-two').innerText="密码输入不得为空";
            document.getElementById('hint-two').style.color='red';
        }
        if (confirmpassword.value !=  Reconfirmpassword.value){
            document.getElementById('hint-three').innerText="两次密码输入不一致";
            document.getElementById('hint-three').style.color='red';
        }else if (Reconfirmpassword.value ===""){
            document.getElementById('hint-three').innerText="确认密码不得为空";
            document.getElementById('hint-three').style.color='red';
		}
        var EmailValue = Email.value;
        var reg = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
        if (EmailValue === ""){
            document.getElementById('hint-four').innerText="邮箱输入不得为空";
            document.getElementById('hint-four').style.color='red';
		} else if (!(reg.test(EmailValue))){
            document.getElementById('hint-four').innerText="邮箱格式不正确";
            document.getElementById('hint-four').style.color='red';
		}
        if (Emailcode.value === ""){
            document.getElementById('hint-five').innerText="验证码输入不得为空";
            document.getElementById('hint-five').style.color='red';
		}else{
            $.ajax({
                url: URL_REGISTER,
                type: 'post',
                dataType: 'json',
                data:  $('#registerForm').serialize(),
                async: true,
                success: function(data) {
                    if (data.code === 200) {
                        layer.msg(data.msg, {
                            time: 1500
                        }, function() {
                            // registerForm.submit();
                            location.href = URL_LOGIN;
                        });
                    } else {
                        layer.alert(data.msg, {
                            icon: 5
                        });
                    }
                }
            });
            return;
		}


    })
</script>
</body>
</html>