<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.recitewords.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="com.lin.recitewords.model.Exam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="exam_id" jdbcType="INTEGER" property="examId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="positive" jdbcType="INTEGER" property="positive" />
    <result column="negative" jdbcType="INTEGER" property="negative" />
    <result column="altogether" jdbcType="INTEGER" property="altogether" />
    <result column="rate" jdbcType="REAL" property="rate" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>