<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.recitewords.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.lin.recitewords.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <!--按用户名查找数量-->
  <select id="findCountByUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*) from user where username = #{username}
  </select>

  <!--按邮箱查找数量-->
  <select id="findCountByEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*) from user where email = #{email}
  </select>

  <!--登录-->
  <select id="login" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from user where (username = #{usernameOrEmail} || email = #{usernameOrEmail}) and password = #{password};
  </select>
</mapper>