<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.recitewords.mapper.WordMapper">
  <resultMap id="BaseResultMap" type="com.lin.recitewords.model.Word">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="word_id" jdbcType="INTEGER" property="wordId" />
    <result column="english" jdbcType="VARCHAR" property="english" />
    <result column="chinese" jdbcType="VARCHAR" property="chinese" />
    <result column="word_book_id" jdbcType="INTEGER" property="wordBookId" />
  </resultMap>

  <!--根据单词本id查找单词-->
  <select id="findByWordBookId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from word where word_book_id = #{wordBookId}
  </select>

  <!--搜索单词-->
  <select id="searchWord" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from word where english like concat('%', #{word}, '%')
    or chinese like concat('%', #{word}, '%')
  </select>
</mapper>