<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.recitewords.mapper.WordBookMapper">
  <resultMap id="BaseResultMap" type="com.lin.recitewords.model.WordBook">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="word_book_id" jdbcType="INTEGER" property="wordBookId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>